### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [115]:
#Get number of players by groupyin by User Name and then getting the unique and counting them.
num_players = purchase_data.groupby('SN')['SN'].nunique().count()

#adding the total players count as a data frame to show it
df = pd.DataFrame([[num_players]], columns=['Total Players'])

#df.head()

df.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total Players</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>576</td>    </tr>  </tbody></table>'

## Player Count

* Display the total number of players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
num_unique_items = purchase_data.groupby('Item ID')['Item ID'].nunique().count()
average_price = purchase_data['Price'].mean()
number_of_purchases = purchase_data.groupby('Purchase ID')['Purchase ID'].nunique().count()
total_revenue = purchase_data['Price'].sum()
#print(total_revenue)



data = [num_unique_items, f'${average_price:,.2f}',number_of_purchases,f'${total_revenue:,.2f}']

data

[183, '$3.05', 780, '$2,379.77']

In [116]:
#data
#adding as a data frame to show it
df = pd.DataFrame([data], columns=['Number of Unique Items','Average Price', 'Number of Purchases', 'Total Revenue'])

#df
df.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Number of Unique Items</th>      <th>Average Price</th>      <th>Number of Purchases</th>      <th>Total Revenue</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>183</td>      <td>$3.05</td>      <td>780</td>      <td>$2,379.77</td>    </tr>  </tbody></table>'

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [118]:
genders = purchase_data.groupby(['Gender','SN'])['Gender','SN'].count()

genders.columns = ['sa','sd']

genders= genders.reset_index()

genders = genders.drop(columns=['sa','sd'])

genders = genders.groupby(['Gender']).count()

del genders.index.name

genders.columns = ['Total Count']

genders['Percentage of Players'] =  np.around( (genders['Total Count']/num_players)*100 , decimals=2)

genders = genders.sort_values(by=['Total Count'] , ascending=False).head()

#genders
genders.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total Count</th>      <th>Percentage of Players</th>    </tr>  </thead>  <tbody>    <tr>      <th>Male</th>      <td>484</td>      <td>84.03</td>    </tr>    <tr>      <th>Female</th>      <td>81</td>      <td>14.06</td>    </tr>    <tr>      <th>Other / Non-Disclosed</th>      <td>11</td>      <td>1.91</td>    </tr>  </tbody></table>'

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
gender_analysys = purchase_data.groupby('Gender').agg({'Purchase ID': 'count', 'Price': ['mean','sum'], 'Gender': 'count'})

gender_analysys.columns = gender_analysys.columns.droplevel()

gender_analysys.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Persons by Purchase']

gender_analysys = pd.merge(gender_analysys, genders, left_index=True, right_index=True)

gender_analysys['Avg Total Purchase per Person'] = gender_analysys['Total Purchase Value']/gender_analysys['Total Count']

#gender_analysys['Average Purchase Price'] = np.around( gender_analysys["Average Purchase Price"] , decimals=2)
#gender_analysys['Avg Total Purchase per Person'] = np.around( gender_analysys["Avg Total Purchase per Person"] , decimals=2)

gender_analysys['Average Purchase Price'] = gender_analysys.apply(lambda x: "${:,.2f}".format(x['Average Purchase Price']), axis=1)
gender_analysys['Total Purchase Value'] = gender_analysys.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)
gender_analysys['Avg Total Purchase per Person'] = gender_analysys.apply(lambda x: "${:,.2f}".format(x['Avg Total Purchase per Person']), axis=1)

gender_report = gender_analysys[['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]

#gender_report
gender_report.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Purchase Count</th>      <th>Average Purchase Price</th>      <th>Total Purchase Value</th>      <th>Avg Total Purchase per Person</th>    </tr>  </thead>  <tbody>    <tr>      <th>Female</th>      <td>113</td>      <td>$3.20</td>      <td>$361.94</td>      <td>$4.47</td>    </tr>    <tr>      <th>Male</th>      <td>652</td>      <td>$3.02</td>      <td>$1,967.64</td>      <td>$4.07</td>    </tr>    <tr>      <th>Other / Non-Disclosed</th>      <td>15</td>      <td>$3.35</td>      <td>$50.19</td>      <td>$4.56</td>    </tr>  </tbody></table>'

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [122]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

groups_xxx = purchase_data.groupby(['Age','SN'])['Age','SN'].count()

groups_xxx.columns = ['sa','sd']

groups_xxx= groups_xxx.reset_index()

groups_xxx = groups_xxx.drop(columns=['sa','sd'])

groups_xxx = groups_xxx.groupby(['Age']).count()

groups_xxx= groups_xxx.reset_index()

groups_xxx.columns = ['Age','Total Count']

bins = pd.cut(groups_xxx['Age'], bins, labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39','40+'])

groups_xxx = groups_xxx.groupby(bins).agg(['sum'])

groups_xxx.columns = groups_xxx.columns.droplevel(1)

del groups_xxx.index.name

groups_xxx['Percentage of Players'] =  np.around( (groups_xxx['Total Count']/num_players)*100 , decimals=2)


#groups_xxx[['Total Count','Percentage of Players']]


groups_xxx[['Total Count','Percentage of Players']].to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Total Count</th>      <th>Percentage of Players</th>    </tr>  </thead>  <tbody>    <tr>      <th>&lt;10</th>      <td>17</td>      <td>2.95</td>    </tr>    <tr>      <th>10-14</th>      <td>22</td>      <td>3.82</td>    </tr>    <tr>      <th>15-19</th>      <td>107</td>      <td>18.58</td>    </tr>    <tr>      <th>20-24</th>      <td>258</td>      <td>44.79</td>    </tr>    <tr>      <th>25-29</th>      <td>77</td>      <td>13.37</td>    </tr>    <tr>      <th>30-34</th>      <td>52</td>      <td>9.03</td>    </tr>    <tr>      <th>35-39</th>      <td>31</td>      <td>5.38</td>    </tr>    <tr>      <th>40+</th>      <td>12</td>      <td>2.08</td>    </tr>  </tbody></table>'

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

#groups_xxx = purchase_data.groupby(['Age']).agg({'Purchase ID': 'count', 'Price': ['mean','sum']})

groups_xxx_ps = purchase_data[['Age', 'Purchase ID','Price']]

#groups_xxx = groups_xxx.reset_index()
#

#groups_xxx.columns = ['Age', 'Purchase ID', 'Price Mean', 'Price Sum', 'Gender'] 

bins = pd.cut(groups_xxx_ps['Age'], bins, labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39','40+'])

groups_xxx_ps = groups_xxx_ps.groupby(bins).agg({'Purchase ID': 'count', 'Price':['sum','mean']})

groups_xxx_ps.columns = groups_xxx_ps.columns.droplevel(1)

groups_xxx_ps.columns = ['Purchase Count','Total Purchase Value', 'Average Purchase Price']

groups_xxx_ps = pd.merge(groups_xxx_ps, groups_xxx[['Total Count','Percentage of Players']], left_index=True, right_index=True)



groups_xxx_ps['Avg Total Purchase per Person'] = groups_xxx_ps['Total Purchase Value']/groups_xxx_ps['Total Count']

groups_xxx_ps['Average Purchase Price'] = groups_xxx_ps.apply(lambda x: "${:,.2f}".format(x['Average Purchase Price']), axis=1)
groups_xxx_ps['Total Purchase Value'] = groups_xxx_ps.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)
groups_xxx_ps['Avg Total Purchase per Person'] = groups_xxx_ps.apply(lambda x: "${:,.2f}".format(x['Avg Total Purchase per Person']), axis=1)




groups_xxx_ps_report = groups_xxx_ps[['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]
#groups_xxx_ps.head(2)


#groups_xxx_ps_report

groups_xxx_ps_report.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Purchase Count</th>      <th>Average Purchase Price</th>      <th>Total Purchase Value</th>      <th>Avg Total Purchase per Person</th>    </tr>    <tr>      <th>Age</th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>&lt;10</th>      <td>23</td>      <td>$3.35</td>      <td>$77.13</td>      <td>$4.54</td>    </tr>    <tr>      <th>10-14</th>      <td>28</td>      <td>$2.96</td>      <td>$82.78</td>      <td>$3.76</td>    </tr>    <tr>      <th>15-19</th>      <td>136</td>      <td>$3.04</td>      <td>$412.89</td>      <td>$3.86</td>    </tr>    <tr>      <th>20-24</th>      <td>365</td>      <td>$3.05</td>      <td>$1,114.06</td>      <td>$4.32</td>    </tr>    <tr>      <th>25-29</th>      <td>101</td>      <td>$2.90</td>      <td>$293.00</td>      <td>$3.81</td>    </tr>    <tr>      <th>30-34</th>      <td>73</td>      <td>$2.93</td>      <td>$214.00</td>      <td>$4.12</td>    </tr>    <tr>      <th>35-39</th>      <td>41</td>      <td>$3.60</td>      <td>$147.67</td>      <td>$4.76</td>    </tr>    <tr>      <th>40+</th>      <td>13</td>      <td>$2.94</td>      <td>$38.24</td>      <td>$3.19</td>    </tr>  </tbody></table>'

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [127]:
top_spenders = purchase_data.groupby(['SN']).agg({'Purchase ID': 'count', 'Price': ['mean','sum']})

top_spenders.columns = top_spenders.columns.droplevel(1)

top_spenders.columns = ['Purchase Count','Average Purchase Price', 'Total Purchase Value']

top_spenders = top_spenders.sort_values('Total Purchase Value', ascending=False)

top_spenders['Average Purchase Price'] = top_spenders.apply(lambda x: "${:,.2f}".format(x['Average Purchase Price']), axis=1)
top_spenders['Total Purchase Value'] = top_spenders.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)


#top_spenders.head()

top_spenders.head(6).to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Purchase Count</th>      <th>Average Purchase Price</th>      <th>Total Purchase Value</th>    </tr>    <tr>      <th>SN</th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Lisosia93</th>      <td>5</td>      <td>$3.79</td>      <td>$18.96</td>    </tr>    <tr>      <th>Idastidru52</th>      <td>4</td>      <td>$3.86</td>      <td>$15.45</td>    </tr>    <tr>      <th>Chamjask73</th>      <td>3</td>      <td>$4.61</td>      <td>$13.83</td>    </tr>    <tr>      <th>Iral74</th>      <td>4</td>      <td>$3.40</td>      <td>$13.62</td>    </tr>    <tr>      <th>Iskadarya95</th>      <td>3</td>      <td>$4.37</td>      <td>$13.10</td>    </tr>    <tr>      <th>Ilarin91</th>      <td>3</td>      <td>$4.23</td>      <td>$12.70</td>    </tr>  </tbody></table>'

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:

sales_by_item = purchase_data.groupby(['Item ID','Item Name']).agg({'Purchase ID': 'count', 'Price': ['max','sum']})

sales_by_item.columns = sales_by_item.columns.droplevel(1)

sales_by_item.columns = ['Purchase Count','Item Price', 'Total Purchase Value']

popular_items = sales_by_item.sort_values('Purchase Count', ascending=False)

popular_items['Item Price'] = popular_items.apply(lambda x: "${:,.2f}".format(x['Item Price']), axis=1)
popular_items['Total Purchase Value'] = popular_items.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)

popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [128]:
#top_spenders.head()

popular_items.head(6).to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th>Purchase Count</th>      <th>Item Price</th>      <th>Total Purchase Value</th>    </tr>    <tr>      <th>Item ID</th>      <th>Item Name</th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>178</th>      <th>Oathbreaker, Last Hope of the Breaking Storm</th>      <td>12</td>      <td>$4.23</td>      <td>$50.76</td>    </tr>    <tr>      <th>145</th>      <th>Fiery Glass Crusader</th>      <td>9</td>      <td>$4.58</td>      <td>$41.22</td>    </tr>    <tr>      <th>108</th>      <th>Extraction, Quickblade Of Trembling Hands</th>      <td>9</td>      <td>$3.53</td>      <td>$31.77</td>    </tr>    <tr>      <th>82</th>      <th>Nirvana</th>      <td>9</td>      <td>$4.90</td>      <td>$44.10</td>    </tr>    <tr>      <th>19</th>      <th>Pursuit, Cudgel of Necromancy</th>      <td>8</td>      <td>$1.02</td>      <td>$8.16</td>    </tr>    <tr>      <th>103</th>      <th>Singed Scalpel</th>      <td>8</td>      <td>$4.35</td>      <td>$34.80</td>    </tr>  </tbody></table>'

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [112]:

profitable_items = sales_by_item.sort_values('Total Purchase Value', ascending=False)

profitable_items['Item Price'] = profitable_items.apply(lambda x: "${:,.2f}".format(x['Item Price']), axis=1)
profitable_items['Total Purchase Value'] = profitable_items.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)

profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [129]:
profitable_items.head(6).to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th>Purchase Count</th>      <th>Item Price</th>      <th>Total Purchase Value</th>    </tr>    <tr>      <th>Item ID</th>      <th>Item Name</th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>178</th>      <th>Oathbreaker, Last Hope of the Breaking Storm</th>      <td>12</td>      <td>$4.23</td>      <td>$50.76</td>    </tr>    <tr>      <th>82</th>      <th>Nirvana</th>      <td>9</td>      <td>$4.90</td>      <td>$44.10</td>    </tr>    <tr>      <th>145</th>      <th>Fiery Glass Crusader</th>      <td>9</td>      <td>$4.58</td>      <td>$41.22</td>    </tr>    <tr>      <th>92</th>      <th>Final Critic</th>      <td>8</td>      <td>$4.88</td>      <td>$39.04</td>    </tr>    <tr>      <th>103</th>      <th>Singed Scalpel</th>      <td>8</td>      <td>$4.35</td>      <td>$34.80</td>    </tr>    <tr>      <th>59</th>      <th>Lightning, Etcher of the King</th>      <td>8</td>      <td>$4.23</td>      <td>$33.84</td>    </tr>  </tbody></table>'

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80